### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
app/logs/*
!app/logs/index.html
!app/logs/.htaccess
/vendor/
### CodeIgniter Patch ###

#file 
/apple-app-site-association
/assetlinks.json
/app/config/database.php
/app/config/config.php
/index.php
/.htaccess

#folder
/assets/uploads/
/files/
